body{
	font-family: 'Open Sans',-apple-system,BlinkMacSystemFont,'Segoe UI',Roboto,'Helvetica Neue',Arial,sans-serif;
}
.login-bg{
	background-image: url(../../assets/images/bg.jpg);
    width: 100%;
    height: 100%;
}
.ctr-bg{
	position: fixed;
    width: 100%;
    height: 100%;
}
.mdl-grid {
    padding: 0;
}
.mdl-cell {
    margin: 0;
}

.mtl-wrapper{
	background: #fff;
    z-index: 999;
    position: absolute;
    text-align: center;
    min-height: 100%;
    right: 0;
}
.mlt-content{
	margin: 200px 100px;
}

#loginForm, #registerForm{
	width: 350px;
}

a{
	cursor:pointer;
}
.person{
	margin-right: 10px;
}
.mdl-modal{
	position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 999;
	overflow: hidden;
}
.mdl-modal-container{
	margin: 10% 30%;
    background: #fff;
}
.mute{
	background-color: #9E9E9E!important;
}
.mdl-modal-header, .mdl-modal-footer, .mdl-modal-content{
	border: 1px solid #ded9d9;
    font-size: 21px;
    padding: 15px;
}
.mdl-components__info {
    background-color: #c4efff;
    padding: 16px;
    border-radius: 2px;
    color: #212121;
	margin-top: 20px;
}
.todoItem {
    padding: 20px;
    background: rgba(255, 252, 252, 0.66);
    margin: 10px 5px;
    border-radius: 10px;
    -webkit-transition: background 0.5s linear 0s;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}
.todoItem:hover{
	background: rgba(191, 189, 189, 0.6);
}
.mdl-components__danger {
    background-color: #fdaaa4;
    padding: 16px;
    border-radius: 2px;
    color: #212121;
	margin-top: 20px;
}

.mdl-components__danger {
    background-color: #c8ff88;
    padding: 16px;
    border-radius: 2px;
    color: #212121;
	margin-top: 20px;
}

.mdl-progress {
    display: block;
    position: absolute;
    height: 8px;
    width: 100%;
    max-width: 100%;
}
.mdl-layout__header {
    background-color: #2196F3;
}
.mdl-button--accent.mdl-button--accent.mdl-button--raised, .mdl-button--accent.mdl-button--accent.mdl-button--fab {
    color: #fff;
    background-color: #FF9800;
}
.page-content{
	width: 1000px;
    margin: 0 auto;
    margin-top: 25px;
}

#todoForm{
	padding: 0 20px;
}
.pull-right{
	float: right;
}

.user__root{
	background: rgb(217, 243, 255);
    float: right;
    padding: 10px 25px;
    border-radius: 27px;
    border: 1px solid rgba(68, 68, 68, 0.2);
	margin-top: -11px;
}
.md-form {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.input-group {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: stretch;
    align-items: stretch;
    width: 100%;
}
.md-form.input-group .form-control {
    margin: 0;
    padding: .375rem .75rem;
}
.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.md-form input[type=date], .md-form input[type=datetime-local], .md-form input[type=email], .md-form input[type=number], .md-form input[type=password], .md-form input[type=search-md], .md-form input[type=search], .md-form input[type=tel], .md-form input[type=text], .md-form input[type=time], .md-form input[type=url], .md-form textarea.md-textarea {
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    outline: 0;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid #ced4da;
    border-radius: 0;
    box-sizing: content-box;
    background-color: transparent;
}
.md-form .form-control {
    margin: 0 0 .5rem 0;
    border-radius: 0;
    padding: .6rem 0 .4rem 0;
    background-color: transparent;
    height: auto;
}
.input-group>.custom-file, .input-group>.custom-select, .input-group>.form-control, .input-group>.form-control-plaintext {
    position: relative;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    width: 1%;
    margin-bottom: 0;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.input-group-append {
    margin-left: -1px;
}
.input-group-append, .input-group-prepend {
    display: -ms-flexbox;
    display: flex;
}
.input-group>.input-group-append>.btn, .input-group>.input-group-append>.input-group-text, .input-group>.input-group-prepend:first-child>.btn:not(:first-child), .input-group>.input-group-prepend:first-child>.input-group-text:not(:first-child), .input-group>.input-group-prepend:not(:first-child)>.btn, .input-group>.input-group-prepend:not(:first-child)>.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#todoForm input[type=text]:focus{
	border: 1px solid #ff9800;
	-webkit-transition: border 1s linear 0s;
}
.btn.btn-md {
    padding: .7rem 1.6rem;
    font-size: 1rem;
}
.input-group-append .btn, .input-group-prepend .btn {
    position: relative;
    z-index: 2;
}
[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}
[type=reset], [type=submit], button, html [type=button] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.btn-secondary {
    background-color: #ff9800!important;
    color: #fff;
}
.btn {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    padding: .84rem 2.14rem;
    font-size: .81rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    margin: .375rem;
    border: 0;
    border-radius: .125rem;
    cursor: pointer;
    text-transform: uppercase;
    white-space: normal;
    word-wrap: break-word;
    color: inherit;
}
.waves-effect {
    position: relative;
    cursor: pointer;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
.m-0 {
    margin: 0!important;
}
.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}
.btn {
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.mLogo{
	background:url(../../assets/images/logo.png);
	width: 280px;
    height: 70px;
    left: 0;
    margin-top: 10px;
}

@media (min-width: 320px) and (max-width: 992px){
	
	.mdl-button{
		padding:0 22px
	}
	.mdl-layout__header span, .savingTodo span, .ctr-bg, .page-content hr{
		display:none
	}
	.mtl-wrapper{
		position: absolute;
		left: 0;
		top: 0;
	}
	.mlt-content{
		margin:0px auto;
		padding: 85px 10px;
	}
	.page-content {
		width: 100%;
	}
	.mLogo{
		background:url(../../assets/images/logo_mobile.png);
		width:107px;
		height: 59px;
		margin-top: 1px;
		position: absolute;
		left: 10px;
	}
	.person, .logout{
		padding: 7px 0px;
		height: 25px;
	}
	.mdl-layout__content{
		background: url(../../assets/images/todo-bg.jpg);
	}
	.md-form , .page-content{
		margin-top: 0;
	}
	#todoForm{
		padding: 15px 10px;
		background: #fff;
		box-shadow: 1px 1px 4px rgba(2, 2, 2, 0.3);
	}
	.todoItem{
		box-shadow:1px 1px 4px rgba(2, 2, 2, 0.3)
	}
	#loginForm, #registerForm {
		width: 100%;
		
	}
	.mdl-modal{ overflow: scroll; }
	.mdl-modal-container {
		margin: 10% 3%;
	}
}

